extends layout

block content
  
  div#maincontent
    form(action='/log', method='POST')
      h3 Create Log
      textarea(name='content', rows='4')
      br
      div#selections
        label(for='favorite') Favorite
        input(type='checkbox' name='favorite' id='favorite' value='favorite')
        select(name='mood')
          option(value='ðŸ˜ƒ') ðŸ˜ƒ
          option(value='ðŸ˜') ðŸ˜
          option(value='ðŸ™') ðŸ™
        
      input(type='submit', class='btnSubmit', value='Submit log')

    
    a(href='overview/0' id='overviewLink') Overview >
      
      
      
