extends layout

block content
  
  div#maincontent
    form(action='/addlog', method='POST')
      h3 Create Log
      textarea(name='content', rows='4')
      input(type='submit', class='btnSubmit', value='Submit log')

