doctype html
html
  head
    title Log App - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.sticky
      header
        a(href='/')
          h2 Log App
    block content
