extends layout

block content
    link(href='/stylesheets/overviewStyle.css' rel='stylesheet')
    div#mainContent
        h2 #{title}
        hr
        ul#entries

        script(src='/javascripts/overview.js')