#mainContent h2 {
    margin-left: 2%;
    margin-bottom: 1%; 
}

.entry {
    float: left;
    width:100%;
    margin-bottom: 15px;
}

ul hr {
    margin-right: 3%;
}

.contentDate {
    float: left; 
    max-width: 60%;
}

.moodFavorite {
    float: right;
    margin-right: 10%;
    width: 10%;

}

.entry img {
    width: 5vw;
}

.entryDate {
    margin-bottom: 10px;
}

#entries {
    margin-top: 10px;
}

.entryMood {
    font-size: 75px;
}

#moodFilter {
    width: 15%;
    height: 8vw;
    margin-left: 2%;
    font-size: 1.1em;

}