body {
  padding: 50px;
  font: 3em "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

header {
  background-color: black;
  margin-top: 0px;
  padding: 3%;
  position: sticky;
}

header h2 {
  font-size: 1.5em;
  color: #FFFFFF;
}

div.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#maincontent {
  margin: 0 auto;
  width: 90%;
  min-height: 1000px;
}

form {
  width: 90%;
  margin: 0 auto;
}

form textarea {
  width: 90%;
  min-height: 200px;
  font-size: 1.2em;
}

.btnSubmit {
  width: 20%;
  height: 10vw;
  font-size: 0.5em;
  -webkit-appearance: none;
  border-radius: 15px;
  background-color: #ededed;
}

/** Overview page specific CSS */